<doctype html>
<html>
    <head> 
      <title> my resume  </title>
         <link rel="stylesheet" href="static\style.css" />
    </head>
    <body>
       <header>
         <h1>Rushikesh Bhavar</h1> 
         <p>rbhavar43@gmail.com  | phone :8180036075  |  LinkedIn:https://www.linkedin.com/in/rushikesh-bhavar </p>
        </header>

    <section>
    
       <h2> Education </h2>
       <ul>
          <li> BSC in data science  at DOT </li>
          <li> courses : ML , statistic , python </li>
       </ul>
    </section>

    <section> 
      <h2> My Skills </h2> 
      <ul> 
         <li> python , pandas ,Numpy </li>
         <li> HTML , CSS , Java script</li>
         <li> SQL , PBI </li>

    </section>

    <section> 
    <h2> projects</h2>
    <ul> 
       <li>IPL data analysis using numpy,pandas,matplotlib</li>
       <li> Image classification using CNN </li>
       <li> Sentiment analysis using logistic regression </li>
    </ul>
    </section>

     <section>
  <h2>Certificates</h2>
  <p>Infosys Microsoft Excel 2016</p>
  <img src=""C:\Users\LENOVO\OneDrive\Pictures\Screenshots\Screenshot 2025-06-12 161707.png"" alt="Excel Certificate" width="500">
</section>




    


    </body>

</html>